body {
	margin: 0;
	padding: 0;
	background-color: #17a2b8;
	height: 100vh;
}

#registrasi .container #registrasi-row #registrasi-column #registrasi-box {
	margin-top: 120px;
	max-width: 600px;
	height: 320px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
}

#registrasi .container #registrasi-row #registrasi-column #registrasi-box #registrasi-form {
	padding: 20px;
}

#registrasi .container #registrasi-row #registrasi-column #registrasi-box #registrasi-form #register-link {
	margin-top: -85px;
}